<p style="color: green"><%= notice %></p>

<h1>messages</h1>

<div id="new_message">
  <%= render partial: 'messages/form', locals: { message: Message.new } %>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
          </tr>
          
        </thead>
  <tbody id="messages">
      <%= render @messages %>
  </tbody>
</table>
</div>