<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= link_to "New user", new_user_path, class: "btn btn-primary" %>

<div class="table-responsive">
  <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Contact number</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
  <tbody>
      <% @users.each do |user| %>
          <%= render user %>
      <% end %>
  </tbody>
</table>
</div>

